In [1]:
import pandas as pd
import requests

In [2]:
states = ["AZ", "GA", "MI", "NV", "NC", "PA", "WI"]

# Unemp Data

In [10]:
data = []
base_prefix = ""
base_suffix = "UR"

for state in states:
    url = f"https://api.stlouisfed.org/fred/series/observations?series_id={base_prefix}{state}{base_suffix}&api_key=22ee7a76e736e32f54f5df0a7171538d&file_type=json"
    print(url)
    response = requests.get(url)
    data = response.json()['observations']
    # add the state to the data
    for d in data:
        d['state'] = state
    data.extend(data)

unemp_df = pd.DataFrame(data)
unemp_df

https://api.stlouisfed.org/fred/series/observations?series_id=AZUR&api_key=22ee7a76e736e32f54f5df0a7171538d&file_type=json
https://api.stlouisfed.org/fred/series/observations?series_id=GAUR&api_key=22ee7a76e736e32f54f5df0a7171538d&file_type=json
https://api.stlouisfed.org/fred/series/observations?series_id=MIUR&api_key=22ee7a76e736e32f54f5df0a7171538d&file_type=json
https://api.stlouisfed.org/fred/series/observations?series_id=NVUR&api_key=22ee7a76e736e32f54f5df0a7171538d&file_type=json
https://api.stlouisfed.org/fred/series/observations?series_id=NCUR&api_key=22ee7a76e736e32f54f5df0a7171538d&file_type=json
https://api.stlouisfed.org/fred/series/observations?series_id=PAUR&api_key=22ee7a76e736e32f54f5df0a7171538d&file_type=json
https://api.stlouisfed.org/fred/series/observations?series_id=WIUR&api_key=22ee7a76e736e32f54f5df0a7171538d&file_type=json

     realtime_start realtime_end        date  value state
0        2024-10-24   2024-10-24  1976-01-01    5.8    WI
1        2024-10-24   2024-10-24  1976-02-01    5.8    WI
2        2024-10-24   2024-10-24  1976-03-01  5.700    WI
3        2024-10-24   2024-10-24  1976-04-01  5.600    WI
4        2024-10-24   2024-10-24  1976-05-01  5.500    WI
...             ...          ...         ...    ...   ...
1165     2024-10-24   2024-10-24  2024-05-01    2.9    WI
1166     2024-10-24   2024-10-24  2024-06-01    2.9    WI
1167     2024-10-24   2024-10-24  2024-07-01    3.0    WI
1168     2024-10-24   2024-10-24  2024-08-01    2.9    WI
1169     2024-10-24   2024-10-24  2024-09-01    2.9    WI

[1170 rows x 5 columns]

# Real median household income

In [9]:
data = []
base_prefix = "MEHOINUS"
base_suffix = "A672N"

for state in states:
    url = f"https://api.stlouisfed.org/fred/series/observations?series_id={base_prefix}{state}{base_suffix}&api_key=22ee7a76e736e32f54f5df0a7171538d&file_type=json"
    response = requests.get(url)
    data = response.json()['observations']
    # add the state to the data
    for d in data:
        d['state'] = state
    data.extend(data)

inc_data = pd.DataFrame(data)
inc_data

   realtime_start realtime_end        date  value state
0      2024-10-23   2024-10-23  1984-01-01  54530    WI
1      2024-10-23   2024-10-23  1985-01-01  59110    WI
2      2024-10-23   2024-10-23  1986-01-01  66110    WI
3      2024-10-23   2024-10-23  1987-01-01  63800    WI
4      2024-10-23   2024-10-23  1988-01-01  69010    WI
..            ...          ...         ...    ...   ...
75     2024-10-23   2024-10-23  2019-01-01  79620    WI
76     2024-10-23   2024-10-23  2020-01-01  78860    WI
77     2024-10-23   2024-10-23  2021-01-01  78320    WI
78     2024-10-23   2024-10-23  2022-01-01  76240    WI
79     2024-10-23   2024-10-23  2023-01-01  79690    WI

[80 rows x 5 columns]