In [4]:
import pandas as pd

In [5]:
world_url = "https://raw.githubusercontent.com/lukes/ISO-3166-Countries-with-Regional-Codes/refs/heads/master/all/all.csv"

world = pd.read_csv(world_url)

In [6]:
fips_url = 'https://raw.githubusercontent.com/kjhealy/fips-codes/refs/heads/master/state_and_county_fips_master.csv'

fips = pd.read_csv(fips_url)

In [7]:
fips

       fips               name state
0         0      UNITED STATES   NaN
1      1000            ALABAMA   NaN
2      1001     Autauga County    AL
3      1003     Baldwin County    AL
4      1005     Barbour County    AL
...     ...                ...   ...
3190  56037  Sweetwater County    WY
3191  56039       Teton County    WY
3192  56041       Uinta County    WY
3193  56043    Washakie County    WY
3194  56045      Weston County    WY

[3195 rows x 3 columns]

In [8]:
# find only the rows in fips where the value in 'name' is all caps
fips[fips['name'].str.isupper()]

       fips                  name state
0         0         UNITED STATES   NaN
1      1000               ALABAMA   NaN
69     2000                ALASKA   NaN
99     4000               ARIZONA   NaN
115    5000              ARKANSAS   NaN
191    6000            CALIFORNIA   NaN
250    8000              COLORADO   NaN
315    9000           CONNECTICUT   NaN
324   10000              DELAWARE   NaN
328   11000  DISTRICT OF COLUMBIA   NaN
330   12000               FLORIDA   NaN
398   13000               GEORGIA   NaN
558   15000                HAWAII   NaN
564   16000                 IDAHO   NaN
609   17000              ILLINOIS   NaN
712   18000               INDIANA   NaN
805   19000                  IOWA   NaN
905   20000                KANSAS   NaN
1011  21000              KENTUCKY   NaN
1132  22000             LOUISIANA   NaN
1197  23000                 MAINE   NaN
1214  24000              MARYLAND   NaN
1239  25000         MASSACHUSETTS   NaN
1254  26000              MICHIGAN   NaN
1338  27000             MINNESOTA   NaN
1426  28000           MISSISSIPPI   NaN
1509  29000              MISSOURI   NaN
1625  30000               MONTANA   NaN
1682  31000              NEBRASKA   NaN
1776  32000                NEVADA   NaN
1794  33000         NEW HAMPSHIRE   NaN
1805  34000            NEW JERSEY   NaN
1827  35000            NEW MEXICO   NaN
1861  36000              NEW YORK   NaN
1924  37000        NORTH CAROLINA   NaN
2025  38000          NORTH DAKOTA   NaN
2079  39000                  OHIO   NaN
2168  40000              OKLAHOMA   NaN
2246  41000                OREGON   NaN
2283  42000          PENNSYLVANIA   NaN
2351  44000          RHODE ISLAND   NaN
2357  45000        SOUTH CAROLINA   NaN
2404  46000          SOUTH DAKOTA   NaN
2471  47000             TENNESSEE   NaN
2567  48000                 TEXAS   NaN
2822  49000                  UTAH   NaN
2852  50000               VERMONT   NaN
2867  51000              VIRGINIA   NaN
3002  53000            WASHINGTON   NaN
3042  54000         WEST VIRGINIA   NaN
3098  55000             WISCONSIN   NaN
3171  56000               WYOMING   NaN

In [9]:
states = fips[fips['name'].str.isupper()]
states

       fips                  name state
0         0         UNITED STATES   NaN
1      1000               ALABAMA   NaN
69     2000                ALASKA   NaN
99     4000               ARIZONA   NaN
115    5000              ARKANSAS   NaN
191    6000            CALIFORNIA   NaN
250    8000              COLORADO   NaN
315    9000           CONNECTICUT   NaN
324   10000              DELAWARE   NaN
328   11000  DISTRICT OF COLUMBIA   NaN
330   12000               FLORIDA   NaN
398   13000               GEORGIA   NaN
558   15000                HAWAII   NaN
564   16000                 IDAHO   NaN
609   17000              ILLINOIS   NaN
712   18000               INDIANA   NaN
805   19000                  IOWA   NaN
905   20000                KANSAS   NaN
1011  21000              KENTUCKY   NaN
1132  22000             LOUISIANA   NaN
1197  23000                 MAINE   NaN
1214  24000              MARYLAND   NaN
1239  25000         MASSACHUSETTS   NaN
1254  26000              MICHIGAN   NaN
1338  27000             MINNESOTA   NaN
1426  28000           MISSISSIPPI   NaN
1509  29000              MISSOURI   NaN
1625  30000               MONTANA   NaN
1682  31000              NEBRASKA   NaN
1776  32000                NEVADA   NaN
1794  33000         NEW HAMPSHIRE   NaN
1805  34000            NEW JERSEY   NaN
1827  35000            NEW MEXICO   NaN
1861  36000              NEW YORK   NaN
1924  37000        NORTH CAROLINA   NaN
2025  38000          NORTH DAKOTA   NaN
2079  39000                  OHIO   NaN
2168  40000              OKLAHOMA   NaN
2246  41000                OREGON   NaN
2283  42000          PENNSYLVANIA   NaN
2351  44000          RHODE ISLAND   NaN
2357  45000        SOUTH CAROLINA   NaN
2404  46000          SOUTH DAKOTA   NaN
2471  47000             TENNESSEE   NaN
2567  48000                 TEXAS   NaN
2822  49000                  UTAH   NaN
2852  50000               VERMONT   NaN
2867  51000              VIRGINIA   NaN
3002  53000            WASHINGTON   NaN
3042  54000         WEST VIRGINIA   NaN
3098  55000             WISCONSIN   NaN
3171  56000               WYOMING   NaN

In [10]:
# drop the first row of states
states = states.iloc[1:]

In [12]:
# drop the last three digits of every number in the 'fips' column
states['fips'] = states['fips'].astype(str).str[:-3].astype(int)
states

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_62601/2464996137.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  states['fips'] = states['fips'].astype(str).str[:-3].astype(int)

      fips                  name state
1        1               ALABAMA   NaN
69       2                ALASKA   NaN
99       4               ARIZONA   NaN
115      5              ARKANSAS   NaN
191      6            CALIFORNIA   NaN
250      8              COLORADO   NaN
315      9           CONNECTICUT   NaN
324     10              DELAWARE   NaN
328     11  DISTRICT OF COLUMBIA   NaN
330     12               FLORIDA   NaN
398     13               GEORGIA   NaN
558     15                HAWAII   NaN
564     16                 IDAHO   NaN
609     17              ILLINOIS   NaN
712     18               INDIANA   NaN
805     19                  IOWA   NaN
905     20                KANSAS   NaN
1011    21              KENTUCKY   NaN
1132    22             LOUISIANA   NaN
1197    23                 MAINE   NaN
1214    24              MARYLAND   NaN
1239    25         MASSACHUSETTS   NaN
1254    26              MICHIGAN   NaN
1338    27             MINNESOTA   NaN
1426    28           MISSISSIPPI   NaN
1509    29              MISSOURI   NaN
1625    30               MONTANA   NaN
1682    31              NEBRASKA   NaN
1776    32                NEVADA   NaN
1794    33         NEW HAMPSHIRE   NaN
1805    34            NEW JERSEY   NaN
1827    35            NEW MEXICO   NaN
1861    36              NEW YORK   NaN
1924    37        NORTH CAROLINA   NaN
2025    38          NORTH DAKOTA   NaN
2079    39                  OHIO   NaN
2168    40              OKLAHOMA   NaN
2246    41                OREGON   NaN
2283    42          PENNSYLVANIA   NaN
2351    44          RHODE ISLAND   NaN
2357    45        SOUTH CAROLINA   NaN
2404    46          SOUTH DAKOTA   NaN
2471    47             TENNESSEE   NaN
2567    48                 TEXAS   NaN
2822    49                  UTAH   NaN
2852    50               VERMONT   NaN
2867    51              VIRGINIA   NaN
3002    53            WASHINGTON   NaN
3042    54         WEST VIRGINIA   NaN
3098    55             WISCONSIN   NaN
3171    56               WYOMING   NaN

In [ ]:
states.drop(
    columns=''
)

In [ ]:
# read in the topojson files
import json