In [25]:
import pandas as pd

In [26]:
# download the data from the Census Bureau

states_pop = pd.read_csv('state_pops_23.csv')

# fix the strings in the 'state' column
states_pop['state'] = states_pop['state'].str.replace('.','')
states_pop.columns = ['name','pop']

states_pop

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_9086/866228859.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  states_pop['state'] = states_pop['state'].str.replace('.','')

                    name         pop
0                Alabama   5,108,468
1                 Alaska     733,406
2                Arizona   7,431,344
3               Arkansas   3,067,732
4             California  38,965,193
5               Colorado   5,877,610
6            Connecticut   3,617,176
7               Delaware   1,031,890
8   District of Columbia     678,972
9                Florida  22,610,726
10               Georgia  11,029,227
11                Hawaii   1,435,138
12                 Idaho   1,964,726
13              Illinois  12,549,689
14               Indiana   6,862,199
15                  Iowa   3,207,004
16                Kansas   2,940,546
17              Kentucky   4,526,154
18             Louisiana   4,573,749
19                 Maine   1,395,722
20              Maryland   6,180,253
21         Massachusetts   7,001,399
22              Michigan  10,037,261
23             Minnesota   5,737,915
24           Mississippi   2,939,690
25              Missouri   6,196,156
26               Montana   1,132,812
27              Nebraska   1,978,379
28                Nevada   3,194,176
29         New Hampshire   1,402,054
30            New Jersey   9,290,841
31            New Mexico   2,114,371
32              New York  19,571,216
33        North Carolina  10,835,491
34          North Dakota     783,926
35                  Ohio  11,785,935
36              Oklahoma   4,053,824
37                Oregon   4,233,358
38          Pennsylvania  12,961,683
39          Rhode Island   1,095,962
40        South Carolina   5,373,555
41          South Dakota     919,318
42             Tennessee   7,126,489
43                 Texas  30,503,301
44                  Utah   3,417,734
45               Vermont     647,464
46              Virginia   8,715,698
47            Washington   7,812,880
48         West Virginia   1,770,071
49             Wisconsin   5,910,955
50               Wyoming     584,057

In [27]:
import us

# get state fips codes and their names
state_fips = pd.DataFrame(us.states.mapping('fips', 'name'), index=[0]).T.reset_index()
# rename cols
state_fips.columns = ['fips', 'name']
# make fips an int
state_fips['fips'] = state_fips['fips'].astype(int)

state_fips

    fips                      name
0      1                   Alabama
1      2                    Alaska
2      4                   Arizona
3      5                  Arkansas
4      6                California
5      8                  Colorado
6      9               Connecticut
7     10                  Delaware
8     12                   Florida
9     13                   Georgia
10    15                    Hawaii
11    16                     Idaho
12    17                  Illinois
13    18                   Indiana
14    19                      Iowa
15    20                    Kansas
16    21                  Kentucky
17    22                 Louisiana
18    23                     Maine
19    24                  Maryland
20    25             Massachusetts
21    26                  Michigan
22    27                 Minnesota
23    28               Mississippi
24    29                  Missouri
25    30                   Montana
26    31                  Nebraska
27    32                    Nevada
28    33             New Hampshire
29    34                New Jersey
30    35                New Mexico
31    36                  New York
32    37            North Carolina
33    38              North Dakota
34    39                      Ohio
35    40                  Oklahoma
36    41                    Oregon
37    42              Pennsylvania
38    44              Rhode Island
39    45            South Carolina
40    46              South Dakota
41    47                 Tennessee
42    48                     Texas
43    49                      Utah
44    50                   Vermont
45    51                  Virginia
46    53                Washington
47    54             West Virginia
48    55                 Wisconsin
49    56                   Wyoming
50    60            American Samoa
51    66                      Guam
52    69  Northern Mariana Islands
53    72               Puerto Rico
54    78            Virgin Islands

In [31]:
# add the fips codes to the states_pop df
# states_pop = states_pop.merge(state_fips, on='name')

states_pop = states_pop[['fips','pop']]

# convert pop from string to int
states_pop['pop'] = states_pop['pop'].str.replace(',','').astype(int)

states_pop

    fips       pop
0      1   5108468
1      2    733406
2      4   7431344
3      5   3067732
4      6  38965193
5      8   5877610
6      9   3617176
7     10   1031890
8     12  22610726
9     13  11029227
10    15   1435138
11    16   1964726
12    17  12549689
13    18   6862199
14    19   3207004
15    20   2940546
16    21   4526154
17    22   4573749
18    23   1395722
19    24   6180253
20    25   7001399
21    26  10037261
22    27   5737915
23    28   2939690
24    29   6196156
25    30   1132812
26    31   1978379
27    32   3194176
28    33   1402054
29    34   9290841
30    35   2114371
31    36  19571216
32    37  10835491
33    38    783926
34    39  11785935
35    40   4053824
36    41   4233358
37    42  12961683
38    44   1095962
39    45   5373555
40    46    919318
41    47   7126489
42    48  30503301
43    49   3417734
44    50    647464
45    51   8715698
46    53   7812880
47    54   1770071
48    55   5910955
49    56    584057

In [32]:
# output csv with no header
states_pop.to_csv('state_pops_23.csv', header=False, index=False)